.backButton {
  padding: 5px 15px;
  border: 0;
  background-color: #fbe0dc;
  border-radius: 10px;
  color: #ff868e;
  font-size: 20px;
}
.navMenu p {
  display: inline-block;
  color: white;
  background-color: #ff868e;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;

  padding: 5px 30px;
  margin-left: 10px;
  border-radius: 10px;
}
.formBox {
  display: flex;
}

.formBox select::-webkit-scrollbar {
  width: 0;
}
.formBox select {
  background-color: #f8f8f7;
  outline: 0;
  border: none;
  border-radius: 10px;
  color: #8c8c8c;
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.formBox button {
  background-color: #f8f8f7;
  color: #8c8c8c;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  padding: 8px 10px;
}
.breedChoises select {
  width: 100%;
}
.limitForm {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 575px) {
  .breedChoises select {
    margin-bottom: 10px;
  }
  .limitForm select {
    width: 70%;
  }
}
