.navMenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.backButton {
  padding: 5px 15px;
  border: 0;
  background-color: #fbe0dc;
  border-radius: 10px;
  color: #ff868e;
  font-size: 20px;
}
.navMenu p {
  display: inline-block;
  color: white;
  background-color: #ff868e;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;

  padding: 5px 30px;
  margin-left: 10px;
  border-radius: 10px;
}
.uploadLink {
  display: inline-block;
  background-color: #fbe0dc;
  color: #ff868e;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 10px;
  text-decoration: none;
}
.formBox {
  background-color: #f8f8f7;
  border-radius: 20px;
  padding: 15px;
}
.formPart {
  flex-direction: column;
}
.formPart p {
  margin-bottom: 0;
  color: #8c8c8c;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.formPart select {
  width: 100%;
  background-color: #ffff;
  box-shadow: 0;
  outline: 0;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.formPart select::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 575px) {
  .navMenu {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .uploadLink {
    display: block;
    width: 100%;
    text-align: center;
  }
}
